extends base.pug

block style 
  style 
    include ../static/About.css 

block content 
  div.ab
    div.about 
      h1 About US.. 
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae voluptatum asperiores. Amet tempore ratione mollitia quidem reiciendis tempora vel, praesentium sunt beatae ipsum maiores culpa nisi optio assumenda dolores nam sed eligendi ipsam similique doloribus hic sit repudiandae quae! Delectus, corrupti quos aspernatur eaque aut possimus non in nostrum inventore hic cumque tempora tenetur minus cum, reiciendis, sed architecto quo nisi repellat molestias veniam ut asperiores laboriosam id. Facere?
    