extends base.pug

block style 
  style 
    include ../static/home.css 
    

block content 
  section#home
      h1 Welcome to myOnlineFood 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, vel.
      button#btn(type="submit" ,onClick="r()") order Now.